body{
    margin: 0px;
    padding: 0px;
}
.Navbar{
    display: flex;
    justify-content: center;
     /* background-color: rgb(68, 68, 68);  */
    height: 120px;
    opacity: 0.8;
   
    
    
   
   
}

.Logo img{
    position: absolute;
    width:120px;
    height: 120px;
   color: white;
     padding: 8px 9px; 
    right: 0px;
     border-radius: 100px; 

}
.Details{
    display: flex;
    margin: 15px;
    padding: 15px 2px;
    justify-content: space-around;
    position: absolute;
     left: 1px;
     margin-left: 1px;
}
.Details li{
    margin: 0px;
    list-style: none;
    font-size: 17px;
    padding: 1px 18px;
    font-family: 'Mochiy Pop One', sans-serif;
   
}
.Details li a{
   color: rgb(226, 5, 5);
    display: flex;
    justify-content: space-around;
    padding: 8px 8px;
    text-decoration: none;
    border-radius: 90px;
    font-size: x-large;
    background-color: rgb(231, 217, 199);
    

}
.List:hover{
    color:black;
    background-color: indianred;
    border-radius: 30px;
    box-shadow: 3px 3px 50px rgb(5, 248, 86);
    text-decoration: underline;
    
   
}
.Middle{
 
    display: flex;
        /* background: url(../Images/Background.jpg) no-repeat fixed ; */
        /* background-size: 1400px 1500px; */
      
      flex-direction: column;
      justify-content: center;
   
      padding: 5px 10px;
      font-family: 'Mochiy Pop One', sans-serif;
   color: rgb(255, 255, 255);
   font-style: oblique;
   
   
   
 
}
.heading-Middle{
    padding: 3px;
    
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
   left: 30px;
    font-size: 50px;
    color: rgb(208, 255, 0);
    font-family: 'Mochiy Pop One', sans-serif;
    

}

.paragraph{
    padding-top: 80px;
display: flex;
flex-direction: column;
    padding: 3px;
    color: rgb(249, 249, 253);
    
    font-size: larger;
    margin: 0;
}
.Middle::before{
    content: "";
    background-image: url(../Images/Final-Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: 100% 100%;
    position: absolute;
    height: 140%;
    width: 100%;
    z-index: -1;
    
    

}
.Order{
    color: rgb(226, 5, 5);
    background-color: rgb(231, 217, 199);
    display: flex;
   
  
   border-radius: 90px;
   font-size: x-large;
   justify-content: space-around;
   padding-left: 10px;
   position: relative;
   left: 260px;
   font-size: large;
    padding: 1px 18px;
        font-family: 'Mochiy Pop One', sans-serif;
}
        .Order:hover{
            color:black;
            background-color: indianred;
            border-radius: 30px;
            box-shadow: 3px 3px 50px rgb(5, 248, 86);
            text-decoration: underline;
            cursor: pointer;
            
            
           
        }
        .Quote{
            
            position: relative;
            left: 20px;
            font-size: 45px;
            /* border: 3px solid blue; */
            width: 650px;
            align-items: center;
            font-family: 'Mochiy Pop One', sans-serif;
            color: blanchedalmond;
        }
        .Services-Details{
            display: flex;
            flex-direction: row;
        }
.Services{
    padding: 2px;
    /* border: 3px solid red; */
    width: 1370px;
    height: auto;
    position: relative;
    left: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 102, 102);
    

}
.heading1-Services{
    font-size: large;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 4px;
    /* border: 3px solid red; */
    color: white;
    position: relative;
    left: 30px;
    font-size: 35px;
    color: rgb(255, 145, 0);
    margin: 2px;
    width: 400px;
    height: 60px;
    
}
.Food{
    /* border: 3px solid red; */
    width: 33%;
    text-align: center;
    height: 400px;
}

.heading-Food{
    font-size: 35px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 4px;
    /* border: 3px solid red; */
    color: white;
    position: relative;
    margin: 4px;
    
    
}
.Image-Food{
width: 280px;
height: 280px;

border-radius: 1600px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;

}
.Delivery{
    /* border: 3px solid red; */
    width: 33%;
    text-align: center;
    height: 400px;
}

.heading-Delivery{
    font-size: 30px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 4px;
    /* border: 3px solid red; */
    color: white;
    position: relative;
    margin: 4px;
    
    
}
.Image-Delivery{
width: 280px;
height: 280px;

border-radius: 1600px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;

}
.CashBack{
    /* border: 3px solid red; */
    width: 33%;
    text-align: center;
    height: 400px;
}

.heading-CashBack{
    font-size: 27px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 4px;
    /* border: 3px solid red; */
    color: white;
    position: relative;
    margin: 4px;
    
    
}
.Image-CashBack{
width: 280px;
height: 280px;

border-radius: 1600px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;

}


.Type{
    padding: 2px;
     /* border: 3px solid red;  */
    width: 1370px;
    height: auto;
    position: relative;
    left: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 102, 102);
}
.Type-Details{
    display: flex;
            flex-direction: row;
}
.heading-Type{
font-size: large;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 4px;
    /* border: 3px solid red;  */
    color: white;
    position: relative;
    left: 30px;
    font-size: 35px;
    color: rgb(255, 145, 0);
    margin: 2px;
    width: 900px;
    height: 60px;
}
.Italian{
      /* border: 3px solid red;  */
     width: 20%;
     text-align: center;
     height: 400px;
}
.heading-Italian{
    font-size: 35px;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 4px;
     /* border: 3px solid red;  */
    color: white;
    position: relative;
    margin: 4px;
}
.Image-Italian{
    width: 250px;
height: 250px;

border-radius: 70px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;
}
.Mexian{
    /* border: 3px solid red;  */
   width: 20%;
   text-align: center;
   height: 400px;
}
.heading-Mexian{
  font-size: 35px;
  font-family: 'Mochiy Pop One', sans-serif;
  padding: 4px;
   /* border: 3px solid red;  */
  color: white;
  position: relative;
  margin: 4px;
}
.Image-Mexian{
  width: 250px;
height: 250px;

border-radius: 70px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;
}
.Chinese{
    /* border: 3px solid red;  */
   width: 20%;
   text-align: center;
   height: 400px;
}
.heading-Chinese{
  font-size: 35px;
  font-family: 'Mochiy Pop One', sans-serif;
  padding: 4px;
   /* border: 3px solid red;  */
  color: white;
  position: relative;
  margin: 4px;
}
.Image-Chinese{
  width: 250px;
height: 250px;

border-radius: 70px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;
}
.American{
    /* border: 3px solid red;  */
   width: 20%;
   text-align: center;
   height: 400px;
}
.heading-American{
  font-size: 35px;
  font-family: 'Mochiy Pop One', sans-serif;
  padding: 4px;
   /* border: 3px solid red;  */
  color: white;
  position: relative;
  margin: 4px;
}
.Image-American{
  width: 250px;
height: 250px;

border-radius: 70px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;
}
.Indian{
    /* border: 3px solid red;  */
   width: 20%;
   text-align: center;
   height: 400px;
}
.heading-Indian{
  font-size: 35px;
  font-family: 'Mochiy Pop One', sans-serif;
  padding: 4px;
   /* border: 3px solid red;  */
  color: white;
  position: relative;
  margin: 4px;
}
.Image-Indian{
  width: 250px;
height: 250px;

border-radius: 70px;
position: relative;
left: 2px;
padding: 5px;
margin: 4px;
}
.Contact{
    text-align: center;
    font-size: 25px;
  font-family: 'Mochiy Pop One', sans-serif;
  padding: 4px;
  margin: 4px;
  position: relative;
  background-color: darkcyan;
  height: auto;
  width: auto;
  
}
.Input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.var{
    font-size: large;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 4px;
  margin: 4px;
  width: 800px;
  cursor: pointer;
  border-radius: 30px;
}
.btn{
    color: rgb(226, 5, 5);
    background-color: rgb(231, 217, 199);
    padding: 3px;
    margin: 2px;
    font-size: 25px;
    border-radius: 30px;
    font-family: 'Mochiy Pop One', sans-serif;
}
.btn:hover{
    color:black;
            background-color: indianred;
            border-radius: 30px;
            box-shadow: 3px 3px 50px rgb(5, 9, 248);
            text-decoration: underline;
            cursor: pointer;
}
#var1{
    height: 70px;
}
